@charset "UTF-8";
body{
	
	background-image: url("https://static.vecteezy.com/system/resources/previews/001/984/880/original/abstract-colorful-geometric-overlapping-background-and-texture-free-vector.jpg");
	background-repeat:no-repeat;
	background-position:right top;
	margin-right:10px;
	
}
body{
	background-color:lightblue;
}