@charset "UTF-8";
body{
	
	background-image: url("https://www.logolynx.com/images/logolynx/23/23938578fb8d88c02bc59906d12230f3.png");
	background-repeat:no-repeat;
	background-position:right top;
	margin-right:10px;
	
}


body{
	background-color:lightblue;
}

h1{
	color:maroon;
	margin-left:40px

}

.admin{
	color:red;
	
}